Documentation/.$SyntheticDataERD.drawio.bkp
Documentation/Snowflake Schema.drawio
Invoice Generator/
Models/
Output Files/2020_2025_Jan.csv
Original Files/StoreMaster_with_street.csv
Snowflake/
__pycache__